@import "~bootstrap/dist/css/bootstrap.css";
.btn{
    width: 25% !important;
    margin-left: 40% !important;
}
.btn2{
    width: 15% !important;
    margin-left: 2% !important;
    background-color :#0D6EFD !important;
    color: white !important;
    padding: 6px 12px;
    border-radius: 7px;
    border-color: #0D6EFD;
}