table {
  width: 100%;
}

.mat-paginator-range-label {
    display: none;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: blue;
  /* background-color: white; */
}
/* Font color */
input.mat-input-element {
  color: blue;
}
.mat-icon{
color: blue;
}
.btn{
  width: 10%!important;
  height: 10%!important;
  color: white!important;
  background-color: blue;
  border-radius: 7px!important;
  border-color: blue;
}
